<mat-card class="py-2">
  <mat-card-content>
    <div class="metrics">
      @for(metric of metrics(); track $index) {
        <div
          class="metric"
          [ngClass]="{ 'metric--bordered': $index === 1, 'pr-3': $last }"
        >
          <div
            class="metric__icon"
            [ngClass]="{
              'metric__icon--posts': metric.label === Source.Posts,
              'metric__icon--albums': metric.label === Source.Albums,
              'metric__icon--photos': metric.label === Source.Photos
            }"
          >
            <mat-icon [fontIcon]="metric.icon" />
          </div>

          <div class="metric-info">
            <span class="metric-info__title">{{ metric.label }}</span>
            <span class="metric-info__total">{{ metric.total }}</span>
          </div>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
