// Primary
$custom-primary-palette: (
  50 : #ecebf7,
  100 : #d0ccec,
  200 : #b1abdf,
  300 : #9289d2,
  400 : #7a6fc9,
  500 : #6356bf,
  600 : #5b4fb9,
  700 : #5145b1,
  800 : #473ca9,
  900 : #352b9b,
  A100 : #e1dfff,
  A200 : #b2acff,
  A400 : #8379ff,
  A700 : #6c5fff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

// Secondary
$custom-secondary-palette: (
  50: #E7ECF0,
  100: #D4DDE3,
  200: #C1CED6,
  300: #AEC0CA,
  400: #9BB2BE,
  500: #A4AFBD,
  600: #8C9AA8,
  700: #748593,
  800: #5C707E,
  900: #445B69,
  A100: #E7ECF0,
  A200: #CFD8E2,
  A400: #B7C3CD,
  A700: #748593,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Accent
$custom-accent-palette: (
  50 : #fae7e7,
  100 : #f3c3c3,
  200 : #eb9c9c,
  300 : #e37474,
  400 : #dd5656,
  500 : #d73838,
  600 : #d33232,
  700 : #cd2b2b,
  800 : #c72424,
  900 : #be1717,
  A100 : #fff1f1,
  A200 : #ffbebe,
  A400 : #ff8b8b,
  A700 : #ff7171,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
