.mat-icon {
  width: 1em !important;
  height: 1em !important;
}

.mat-drawer-side {
  border-right-color: map-get($custom-secondary-palette, 50) !important;
}

.mat-mdc-card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.mdc-tooltip__surface {
  background-color: black !important;
}

.mat-mdc-paginator-range-label {
  @apply text-gray-500 font-bold;
}

.mat-mdc-paginator-icon {
  width: 1.25rem !important;
}

.mat-sort-header-container {
  border-bottom: 0 !important;
}

.mat-mdc-paginator-range-label {
  margin: 0 !important;
}
