.wrapper {
  @apply w-[50rem] max-w-full mx-auto;
}

.wrapper-card {
  @apply p-4 flex flex-col gap-6 min-h-[30rem];
}

.wrapper-header {
  @apply flex items-center gap-1;

  &__title {
    @apply text-xl font-bold;
  }

  &__total {
    @apply text-xs text-secondary-500;
  }
}

.wrapper-content {
  @apply flex flex-col gap-4;
}

.wrapper-form {
  &__search {
    @apply border border-gray-200 text-xs py-2 px-2.5 w-60 rounded-md;

    &:focus-visible {
      @apply outline-primary-400;
    }
  }
}

.wrapper-table {
  @apply border border-secondary-100 rounded-md overflow-hidden;

  &__row {
    @apply cursor-pointer hover:bg-primary-50/30;
  }

  &__header {
    @apply text-xs text-gray-800;
    font-weight: 600 !important;
  }

  &__value {
    @apply text-sm text-gray-800;

    padding: 0.5rem 1rem !important;
  }

  &__avatar {
    @apply font-bold bg-primary-300 rounded-full p-2 text-white;
  }
}

.wrapper-list {
  @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 my-8;
}

.wrapper-spinner {
  @apply w-full flex justify-center absolute top-[50%] left-[50%];

  transform: translate(-50%, -50%);
}
