<div class="photo">
  <div class="photo__wrapper">
    @if (showFullPhotoPreview()) {
      <img
        priority
        width="600"
        height="600"
        [alt]="photo().title"
        [ngSrc]="photoPreview()"
      >
    } @else {
      <img
        priority
        class="photo__img"
        width="150"
        height="150"
        [alt]="photo().title"
        [ngSrc]="photoPreview()"
      >
    }
  </div>

  <p
    class="photo__title text-center"
    [ngClass]="showFullPhotoPreview() ? 'text-center' : 'w-8/12 xl:w-11/12 truncate'"
  >{{ photo().title }}</p>
</div>
