<div class="wrapper">
  <mat-card class="wrapper-card">
    <mat-card-header>
      <p class="wrapper-header">
        <span class="wrapper-header__title">Albums</span>
        <span class="wrapper-header__total">({{totalFilteredAlbums()}})</span>
      </p>
    </mat-card-header>

    @if (loading()) {
      <div class="wrapper-spinner">
        <mat-progress-spinner
          class="wrapper-spinner__spinner !w-8 !h-8"
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>
    } @else {
      <mat-card-content>
        <div class="wrapper-content">
          <div class="wrapper-form">
            <input
              type="text"
              placeholder="Search"
              class="wrapper-form__search"
              #searchInput
              (input)="handleSearch(searchInput.value)"
            />
          </div>
        </div>

        <div class="wrapper-list">
          @for(album of paginatedAlbums(); track album.id) {
            <sg-album
              [id]="album.id"
              (click)="openedAlbum.set(album)"
            />
          }
        </div>
      </mat-card-content>

      <mat-paginator
        showFirstLastButtons
        hidePageSize
        class="!flex !justify-center"
        [length]="totalFilteredAlbums()"
        [pageIndex]="pageIndex()"
        [pageSize]="options.pageSize"
        (page)="pageEvent.set($event);"
      />
    }
  </mat-card>
</div>

<sg-drawer
  [open]="!!openedAlbum()"
  (openChange)="openedAlbum.set(null)"
>
  @if (openedAlbum()) {
    <sg-album
      showFullAlbumPreview
      [id]="openedAlbum()!.id"
    />
  }
</sg-drawer>
