<mat-card class="top-photos">
  <mat-card-header>
    <mat-card-title>
      <div class="panel-header">
        <span class="panel-header__title">Recent Photos</span>
        <small class="panel-header__total">({{ totalPhotos() }})</small>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="photos">
      @for(photo of photos(); track photo.id) {
        <sg-photo
          [photo]="photo"
          (click)="openedPhoto.set(photo)"
        />
      }
    </div>
  </mat-card-content>
</mat-card>

<sg-drawer
  [open]="!!openedPhoto()"
  (openChange)="openedPhoto.set(null)"
>
  @if (openedPhoto()) {
    <sg-photo
      showFullPhotoPreview
      [photo]="openedPhoto()!"
    />
  }
</sg-drawer>

