<mat-card class="top-photos">
  <mat-card-header>
    <mat-card-title>
      <div class="panel-header">
        <span class="panel-header__title">Recent Photos</span>
        <small class="panel-header__total">({{ totalPhotos() }})</small>
      </div>
    </mat-card-title>
  </mat-card-header>

  @if (loading()) {
    <div class="wrapper-spinner">
      <mat-progress-spinner
        class="wrapper-spinner__spinner !w-8 !h-8"
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
  } @else {
    <mat-card-content>
      <div class="photos">
        @for(photo of photos(); track photo.id) {
          <sg-photo
            [photo]="photo"
          />
        }
      </div>
    </mat-card-content>
  }
</mat-card>
