<mat-sidenav-container class="h-full">
  <mat-sidenav opened mode="side" class="!w-14 xl:!w-52">
    <div class="sidebar">
      <div>
        <div
          class="sidebar-header"
          [routerLink]="['dashboard']"
        >
          <mat-icon class="sidebar-header__logo" fontIcon="view_timeline" />
          <p class="sidebar-company">
            <span class="sidebar-company__title">Social Grid</span>
            <span class="sidebar-company__subtitle">Workspace</span>
          </p>
        </div>

        <ol class="sidebar-menu">
          @for (item of navigationItems; track $index) {
            <li
              class="menu-item"
              routerLinkActive="menu-item--active"
              matTooltipPosition="right"
              matTooltipClass="!block xl:!hidden !capitalize"
              [matTooltip]="item.label"
              [routerLink]="[item.path]"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <mat-icon class="menu-item__icon" [fontIcon]="item.icon" />
              <span class="menu-item__label capitalize">{{ item.label }}</span>
            </li>
          }
        </ol>
      </div>

      <div
        class="sidebar-user"
        matTooltip="View Profile"
        matTooltipPosition="right"
        matTooltipClass="!block xl:!hidden"
        routerLinkActive="sidebar-user--active"
        [routerLink]="['profile']"
      >
        <img
          class="sidebar-user__avatar"
          alt="user-avatar"
          src="assets/images/custom/avatar.jpg"
        />

        <div class="sidebar-account">
          <p class="sidebar-account__name">{{ userName() }}</p>
          <p class="sidebar-account__view">View Profile</p>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="p-4 bg-primary-50/50">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
