<mat-card class="posts">
  <mat-card-header>
    <mat-card-title class="px-4">
     <div class="posts-header">
       <span class="font-bold">Top Posts</span>
       <small class="text-secondary-500">({{ totalPosts() }})</small>
     </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @for (post of posts(); track post.id) {
      <div class="post">
        <div class="font-medium">
          <p class="post__username">&#64;{{post.user?.username}}</p>
          <p class="post__title">{{ post.title }}</p>
        </div>

        <p class="post__body">{{ post.body }}</p>
      </div>
    }
  </mat-card-content>
</mat-card>
