@if (showFullAlbumPreview()) {
  <div class="album-preview">
    <div class="album-preview__wrapper">
      <span class="album__title album__title--preview">{{ title() }}</span>

      <div class="album__info">
        <span class="username text-sm">&#64;{{albumOwner()?.username}}</span>
        <span class="album__total">{{ totalPhotos() }} photos</span>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-4">
      @for(photo of albumPhotos(); track photo.id) {
        <sg-photo [photo]="photo" />
      }
    </div>
  </div>
} @else {
  <div class="album">
    <img
      alt="cover-image"
      class="album__cover"
      [src]="coverPhoto()"
    >
    <span class="album__title w-36 truncate">{{ title() }}</span>
    <span class="album__total">{{ totalPhotos() }} photos</span>
  </div>
}
