<div class="dashboard">
  <mat-card>
    <mat-card-content>
      <div class="grid grid-cols-3">
        @for(metric of metrics(); track $index) {
          <div
            class="flex items-center gap-6 justify-center"
            [ngClass]="{ 'border-x border-secondary-50/50': $index === 1, 'pr-3': $last }"
          >
            <div
              class="flex items-center p-4 rounded ring-1"
              [ngClass]="{
                'ring-violet-100 bg-violet-50': metric.label === Source.Posts,
                'ring-fuchsia-100 bg-fuchsia-50': metric.label === Source.Albums,
                'ring-orange-100 bg-orange-50': metric.label === Source.Photos
              }"
            >
              <mat-icon
                [fontIcon]="metric.icon"
                [ngClass]="{
                  'text-violet-500': metric.label === Source.Posts,
                  'text-fuchsia-500': metric.label === Source.Albums,
                  'text-orange-500': metric.label === Source.Photos
                }"
              />
            </div>

            <div class="flex flex-col">
              <span class="uppercase text-[11px] font-medium text-secondary-500">{{ metric.label }}</span>
              <span class="text-dark-700 text-2xl font-medium">{{ metric.total }}</span>
            </div>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
