<div class="profile">
  <div class="profile-info">
    <mat-card class="profile-info__wrapper">
      <div class="profile-avatar">
        <img
          src="assets/images/custom/avatar.jpg"
          alt="user-photo"
          class="profile-avatar__img"
        >

        <div  class="profile-summary">
          <span class="profile-summary__name">{{ currentUser().name }}</span>
          <span class="profile-summary__username">&#64;{{ currentUser().username }}</span>
        </div>
      </div>
    </mat-card>

    <mat-card class="profile-card">
      <mat-card-header>
        <p class="profile-card__title">Personal Information</p>
      </mat-card-header>

      <mat-card-content>
        <div class="profile-card__content">
          <div class="profile-item">
            <p class="profile-item__field">Name</p>
            <p class="profile-item__value">{{ currentUser().name }}</p>
          </div>

          <div class="profile-item">
            <p class="profile-item__field">Email</p>
            <p class="profile-item__value">{{ currentUser().email }}</p>
          </div>

          <div class="profile-item">
            <p class="profile-item__field">Phone</p>
            <p class="profile-item__value">{{ currentUser().phone }}</p>
          </div>

          <div class="profile-item">
            <p class="profile-item__field">Website</p>
            <p class="profile-item__value">{{ currentUser().website }}</p>
          </div>

          @if (currentUser().company) {
            <div class="profile-item">
              <p class="profile-item__field">Company</p>
              <p class="profile-item__value">{{ currentUser().company.name }}</p>
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card">
      <mat-card-header>
        <p class="profile-card__title">Posts</p>
      </mat-card-header>

      <mat-card-content>
        <div class="profile-card__content !grid-cols-2 !gap-2">
          @for (post of posts(); track post.id) {
            <sg-post
              hideUsername
              [post]="post"
            />
          }
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="profile-card">
      <mat-card-header>
        <p class="profile-card__title">Albums</p>
      </mat-card-header>

      <mat-card-content>
        <div class="profile-albums">
          @for(album of albums(); track album.id) {
            <sg-album [id]="album.id" />
          }
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
